<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f9c9b808-6708-4f07-bdbd-57a5a91cab3b/resourceGroups/appservicerg/providers/Microsoft.Web/sites/fabrictest0110</ResourceId>
    <ResourceGroup>appservicerg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://fabrictest0110.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4c61b60f-0903-4e91-aedc-5a2d25836366</ProjectGuid>
    <PublishUrl>https://fabrictest0110.scm.azurewebsites.net/</PublishUrl>
    <UserName>$fabrictest0110</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>